[submodule ".registry"]
	path = .registry
	url = https://github.com/aleksanderbl29/aleksanderbl29.r-universe.dev
	branch = HEAD
[submodule "dawaR"]
	path = dawaR
	url = https://github.com/aleksanderbl29/dawaR
	subdir = universe-release
