[submodule ".registry"]
	path = .registry
	url = https://github.com/aleksanderbl29/aleksanderbl29.r-universe.dev
	branch = HEAD
[submodule "aleksandeR"]
	path = aleksandeR
	url = https://github.com/aleksanderbl29/aleksandeR
[submodule "dawaR"]
	path = dawaR
	url = https://github.com/aleksanderbl29/dawaR
	branch = universe-release
[submodule "hexsession"]
	path = hexsession
	url = https://github.com/luisDVA/hexsession
[submodule "rsthemes"]
	path = rsthemes
	url = https://github.com/aleksanderbl29/rsthemes
	branch = catppuccin
