[submodule ".registry"]
	path = .registry
	url = https://github.com/aleksanderbl29/aleksanderbl29.r-universe.dev
	branch = HEAD
[submodule "aleksandeR"]
	path = aleksandeR
	url = https://github.com/aleksanderbl29/aleksandeR
	branch = NA
[submodule "dawaR"]
	path = dawaR
	url = https://github.com/aleksanderbl29/dawaR
	branch = universe-release
[submodule "dkdata"]
	path = dkdata
	url = https://github.com/ropengov/dkdata
	branch = NA
[submodule "geodk"]
	path = geodk
	url = https://github.com/ropengov/geodk
	branch = NA
